:root {
  --color-accent: rgb(33, 119, 182);
  --width-content: 900px;
  --space-base: 22px;
  --width-mobile: 700px;
}

body {
  --color-foreground: #131311;
  --color-background: #fcfcfc;
  --color-divider: #eaecef;
  --color-background-popout: #eaeae9;
  --code-color: #393a34;
  --code-background-color: white;
  --code-comment: #999988;
  --code-punctuation: #393a34;
  --code-property: #36acaa;
  --code-number: #36acaa;
  --code-boolean: #36acaa;
  --code-selector: #e3116c;
  --code-operator: #393a34;
  --code-atrule: #00a4db;
  --code-keyword: #00a4db;
  --code-regex: #ebcb8b;
}

@media (prefers-color-scheme: dark) {
  body {
    --color-foreground: #f9f9f9;
    --color-background: #161616;
    --color-divider: #3e3e3c;
    --color-background-popout: #272326;
    --code-color: #f8f8f2;
    --code-background-color: #2e3440;
    --code-comment: #636f88;
    --code-punctuation: #81a1c1;
    --code-property: #81a1c1;
    --code-number: #b48ead;
    --code-boolean: #81a1c1;
    --code-selector: #a3be8c;
    --code-operator: #81a1c1;
    --code-atrule: #88c0d0;
    --code-keyword: #81a1c1;
    --code-regex: #ebcb8b;
  }
}

* {
  box-sizing: border-box;
}

body {
  color: var(--color-foreground);
  background-color: var(--color-background);

  font-family: 'PT Sans', serif;
  font-size: 18px;
  line-height: 1.5em;
}

::selection {
  background: var(--color-accent);
  color: white;
}

::-moz-selection {
  background: var(--color-accent);
  color: white;
}
