.footer {
  line-height: 2;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.footerLink:link,
.footerLink:visited {
  color: inherit;
}

.footerLink:hover,
.footerLink:active {
  text-decoration: none;
}

.contentRight {
  float: left;
}

.contentRight {
  float: right;
}

.copy {
  opacity: 0.7;
}
