.divider {
  width: 140px;
  height: 10px;
  display: inline-block;
  margin-bottom: var(--space-base);
  background-color: var(--color-background-popout);
}

.footerLink:link,
.footerLink:visited {
  color: inherit;
}

.footerLink:hover,
.footerLink:active {
  text-decoration: none;
}

.contentRight {
  float: left;
}

.contentRight {
  float: right;
}
