.mapFooter {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
  pointer-events: none;
}

.mapFooter > * {
  pointer-events: auto;
}

.map {
  width: 100%;
  height: 100%;
  margin: 0;
}

.mapWrapper {
  position: relative;
}

.gpxLink {
  background-color: var(--color-background);
  margin: var(--space-base);
  padding: calc(var(--space-base) / 2);
  border-radius: var(--border-radius);
  position: absolute;
  bottom: 0;
  right: 0;
  text-decoration: none;
  color: var(--color-foreground);
}

.gpxLink:hover {
  text-decoration: underline;
}

.baseMap {
  width: 100%;
  margin: 0 0 var(--space-base) 0;
  height: 500px;
  max-height: 50vh;
}

.loadingIndicator {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 32px;
  height: 32px;
  margin-top: -16px;
  margin-bottom: -16px;
  animation: 1s linear 0s infinite running spin;
  z-index: 3;
}

.loadingIndicatorPath {
  stroke-width: 0.5;
  stroke-dasharray: 14 20;
  stroke: var(--color-foreground);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
