.row {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: calc(var(--space-base) * 2) 0;
}

.content {
  max-width: var(--width-content);
  width: 100vw;
  padding-left: var(--space-base);
  padding-right: var(--space-base);
}
